
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    height: 60px;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-right-section a {
    margin-right: 16px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    height: 20px;
    width: 20px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/basic-ui-elements-plain/420/06_menu_grid-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav .nav-right-section .profile-icon img {
    margin-left: 10px;
    height: 32px;
    width: 32px;
    border-radius: 100%;

}

main {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

main .main-logo {
    width: 530px;
}

main .main-input {
    width: 530px;
    margin-bottom: 35px;
}

main .main-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px; 
    width: 520px;
    height: 44px;
    border-radius: 24px;
    border: 2px solid #dfe1e5;
}

main .main-input-container input {
    width: 450px;
    height: 40px;
    outline: none;
    border: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


main .main-input-container .micro-icon {
    background: url('/icons/micro-icon.png')
}

main .main-input-container .search-icon {
    background: url('/icons/search-icon.png');
    
}

main .main-input-container .keyboard-icon {
    background: url('/icons/keyboard-icon.png')
}

main .main-input-container .search-icon, 
main .main-input-container .micro-icon,
main .main-input-container .keyboard-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

main .main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
}

main .main-buttons button {
    height: 36px;
    min-width: 54px;
    font-size: 14px;
    line-height: 27px;
    cursor: pointer;
    margin: 11px 9px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    background-color: #F2F2EF;
    border-radius: 4px;
    outline: none;
}

main .main-buttons button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222
}